:root {
    --font-family: sans-serif;
    --txt-color: white;
    --bgcolor: #100E17;
}


.top-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-links {
    display: inline-flex;
    padding: 20px 24px 20px 5px;
    align-items: flex-start;
    gap: 25px;
}

.resume-link {
    color: #FFF;
    font-family: var(--font-family);
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 5px;
    background: #38C2AC;
    text-align: center;
    padding: 5px;
}
.header1 {
    width: 100%;
    background-blend-mode: lighten;
}
.header-topsection {
    background: linear-gradient(rgb(87 87 87 / 33%), #000000), url("/shridhar/images/background.jpg") no-repeat top center;
    background-size: cover;
}
.bi-envelope, .bi-telephone, .bi-geo-al {
    color: #fff;
    width: 14px;
    height: 11px;
    padding-right: 10px;
    display: inline;
}
.bi-envelope, .bi-telephone, .bi-geo-al ::before {
    font-size: 12px;
}

.text-white {
    text-decoration: none;
}

.after-header {
    display: flex;
    width: 1140px;
    justify-content: center;
    flex-shrink: 0;
    flex-wrap: wrap;
}
.interduction {
    width: 590px;
    /* height: 476px; */
}
.name {
    color: var(--txt-color);
    font-family: var(--font-family);
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: 64px;
    margin-bottom: 0;
    
}
.desigation {
    color: var(--txt-color);
    font-family: var(--font-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; 
}

.image-section {
    width: 200px;
    height: 200px;
    max-width: 400px;
    flex-shrink: 0;
        border-radius: 180px;
    border: 20px solid rgba(0, 0, 0, 0.40);
    color: #00000066;
}

.image-section img {
    border-radius: 50%;
    width: 160px;
    height: 160px;
    object-fit: cover;
}
.contact-details {
    display: flex;
    flex-direction: column;
}
.contact-details span {
    padding: 5px 0;
}
.grtng {
    padding: 6px 30.03px 6px 30px;
    border-radius: 20px 20px 20px 0px;
    background: #0BCEAF;
    color: #FFF;
    font-family: var(--font-family);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 171.429% */
    letter-spacing: 1px;
}

.about-section {
    background: #100E17;
    display: flex;
    width: 50%;
    margin: auto;
    padding: 100px 0px 60px 0px;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    flex-wrap: nowrap;
}
.about-title {
    color: #FFF;
    font-family: var(--font-family);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    margin: 0;
}

.abt-img img {
    border: none;
    max-width: 300px;
    aspect-ratio: 2.5/2;
}
.aftertop-section {
    background: var(--bgcolor);
}
.abt-text {
    color: #FFF;
    font-family: var(--font-family);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; 
    margin: 0;
}
.tech-list {
    list-style: none;
}
.tech-list span {
    color: #FFF;
    font-family: var(--font-family);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; 
    display: inline-flex;
    padding: 1px 10.42px 1px 11px;
    align-items: flex-start;
    border-radius: 4px;
    border: 1px solid #0BCEAF;
}
.tech {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    gap: 10px;
}
.abt-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    transition: right 0.3s ease;
}
.dwn-link .resume-link{
    padding: 10px;
    border-radius: 10px;
}
.dwn-link span.resume-link::after {
    content: "\F30A";
    font-family: 'bootstrap-icons';
}

.active {
    text-decoration: underline;
}

.middle-section h3{
    font-family: var(--font-family);
    text-align: center;
    background: var(--bgcolor);
}
.cards-container {
    justify-content: center;
    margin: 0 !important;
}
.middle-section .cards-container .col {
    width: 20.333%;
}

.middle-section .cards-container .col .h-100 {
    border-radius: 4px;
    background: #202026;
    box-shadow: -16px 0px 48px 0px #000;
}
.c-title {
    color: #FFF;
    font-family: var(--font-family);
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
}
